body{
    display: flex;
    gap: 100px;
}
.countdown{
    
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aqua;
    width: fit-content;
    padding: 30px;
}
.clock{
    display: flex;
    flex-direction: column;
}